fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic
langchain
langchain-core
langgraph
langchain-ollama
pypdf
python-multipart
bcrypt
pyjwt
